@import "reset.scss";
@import "vars.scss";


html{
    font-size: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $black;
    background-color: $white;

    &.no-scroll{
        overflow: hidden;
    }
}



// Blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/works";
@import "blocks/portfolio";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/news";
@import "blocks/articles";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/modal-work";
@import "blocks/modal-resume";
@import "blocks/timeline";
@import "blocks/progress-bar";
@import "blocks/modal-contact";



// Helpers
@import "blocks/helpers";