$black: #2b2a2c;
$gray: #6a696b;
$gray-light: #8D8D8E;
$gray-fill: #efefef;
$gray-second: #8C8C8D;
$white: #fff;


// Media
$iphone5: "max-width: 320px";
$usm: "max-width: 479px";
$sm: "max-width: 575px";
$md: "max-width: 767px";
$lg: "max-width: 991px";
$xl: "max-width: 1199px";
