@charset "UTF-8";

/*reset сss*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2b2a2c;
  background-color: #fff;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  padding: 1.8rem 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__avatar {
  width: 57px;
  height: 57px;
}

.user__avatar img {
  border-radius: 50%;
}

.user__content {
  padding-left: 9px;
}

.user__name {
  margin-bottom: 3px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #2b2a2c;
}

.user__prof {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8;
  color: #2b2a2c;
  opacity: 0.7;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  margin-right: 40px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #2b2a2c;
  line-height: 1.4;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link.active {
  border-bottom: 2px solid #2b2a2c;
}

.nav__link--gray {
  color: #8D8D8E;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0.6em 2.2em;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: #2b2a2c;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  background: none;
  border: 2px solid #2b2a2c;
  border-radius: 1.4em;
}

.btn:hover {
  background-color: #2b2a2c;
  border-color: #2b2a2c;
  color: #fff;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  -webkit-transition: border-color .2s linear;
  -o-transition: border-color .2s linear;
  transition: border-color .2s linear;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}

.btn--gray {
  min-width: 170px;
  border: 1px solid #6a696b;
  border-radius: 2.2em;
  color: #6a696b;
  padding: 1.07em 1.8em;
}

.btn--sm {
  padding: 0.7em 1.4em;
}

.btn--footer {
  padding: .5rem 2rem;
  background-color: #2b2a2c;
  border-color: #8D8D8E;
  color: #8D8D8E;
}

.btn--footer:hover {
  background-color: #8D8D8E;
  border-color: #8D8D8E;
  color: #2b2a2c;
}

.btn + .btn {
  margin-left: 1.5rem;
}

.no-webp .intro__inner{
  background: url("../img/intro/symbols.png") right bottom no-repeat; }

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}

.intro__content {
  width: 50%;
  padding: 90px 0 125px;
}

.intro__suptitle {
  font-size: 3.2rem;
  color: #2b2a2c;
  font-weight: 200;
}

.intro__title {
  margin-bottom: 5px;
  font-size: 4.5rem;
  color: #2b2a2c;
  font-weight: 700;
}

.intro__text {
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #2b2a2c;
  font-weight: 400;
  opacity: .7;
}

.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.social__link {
  margin-right: 10px;
}

.social__link:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.works {
  margin: 4rem;
}

.works__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.works__nav-link {
  margin: 0 1.7rem;
  font-size: 1.2rem;
  color: #2b2a2c;
  opacity: .7;
}

.works__nav-link:hover {
  text-decoration: underline;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1.5rem 4.2rem;
}

.portfolio__col {
  width: 33.3333%;
  padding: 1.5rem;
}

.portfolio__item {
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.portfolio__item:hover {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  -o-transition: box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__content {
  padding: 1.2rem;
}

.portfolio__cat {
  margin-bottom: .8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #2b2a2c;
}

.portfolio__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #2b2a2c;
  font-weight: 700;
}

.about {
  margin: 12.5rem 0;
  max-width: 1090px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__photo {
  width: 50%;
}

.about__content {
  width: 50%;
  padding-left: 5rem;
  margin-top: 3.5rem;
}

.about__title {
  font-size: 4.5rem;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
}

.about__bigtitle {
  margin-bottom: 2rem;
  position: relative;
  margin-left: -20px;
  font-size: 9.2rem;
  font-weight: 700;
  color: #2b2a2c;
  text-transform: uppercase;
  opacity: .15;
  line-height: 1.1;
}

.about__text {
  margin-bottom: 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: #6a696b;
  line-height: 2;
}

.no-webp .reviews{
  background: #332F30 url("../img/reviews/reviews-bg.png") center no-repeat; }

.reviews {
  padding: 6.8rem 30.5rem;
  position: relative;
}

.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}

.reviews__text {
  font-size: 1.4rem;
  color: #fff;
  line-height: 2.3;
  text-align: center;
}

.reviews__author {
  margin-top: -51px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.reviews__photo {
  display: block;
  margin: 0 auto;
  width: 103px;
  height: 103px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 4px solid #efefef;
}

.reviews__name {
  font-size: 1.6rem;
  color: #2b2a2c;
  font-weight: 700;
}

.reviews__company {
  margin-bottom: 5px;
  font-size: 1.4rem;
  color: #6a696b;
  font-weight: 300;
  font-style: italic;
}

.news {
  margin-top: 21.5rem;
  margin-bottom: 15.5rem;
}

.news__header {
  margin-bottom: 5.5rem;
}

.news__title {
  margin-bottom: 0.5rem;
  font-size: 4.5rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}

.news__text {
  font-size: 1.8rem;
  color: #8C8C8D;
  font-weight: 300;
}

.news__footer {
  margin-top: -35px;
  text-align: right;
}

.news__link {
  font-size: 1.4rem;
  color: #6a696b;
}

.news__link:hover {
  text-decoration: underline;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1.5rem;
}

.articles__col {
  width: 33.3333%;
  padding: 0 1.5rem;
}

.articles__item {
  margin-bottom: 5rem;
}

.articles__header {
  position: relative;
  margin-bottom: 2rem;
}

.articles__date {
  width: 77px;
  height: 77px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.3;
  background-color: #2B2A2C;
}

.articles__content {
  margin-bottom: 3rem;
}

.articles__title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}

.articles__title a {
  color: inherit;
}

.articles__title a:hover {
  text-decoration: underline;
}

.articles__cat {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #2b2a2c;
  text-transform: uppercase;
}

.articles__text {
  line-height: 2;
  font-weight: 300;
  font-size: 1.2rem;
  color: #6a696b;
}

.footer {
  background-color: #2b2a2c;
  padding: 2rem 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  margin-right: 1.5rem;
  font-size: 1.4rem;
  color: #8D8D8E;
  padding-right: 1rem;
  border-right: 1px solid rgba(106, 105, 107, 0.35);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  margin-right: 1.7rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__dialog {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

.modal__dialog--sm {
  max-width: 900px;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  width: 34px;
  height: 39px;
  padding: 0;
  background: 0;
  border: 0;
}

.modal__close:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.modal-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-work__previews {
  width: 65%;
  position: relative;
  overflow: hidden;
}

.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.modal-work__content {
  width: 35%;
  position: relative;
  padding: 5rem 8rem 1.5rem 2.5rem;
}

.modal-work__header {
  margin-bottom: 3.3rem;
}

.modal-work__title {
  margin-bottom: 2px;
  font-size: 3.2rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-work__info {
  font-size: 1.8rem;
  color: #6a696b;
  text-transform: uppercase;
}

.modal-work__info-divider {
  margin: 0 1.5rem;
}

.modal-work__client {
  margin-bottom: 3rem;
}

.modal-work__client-title {
  font-size: 1.6rem;
  color: #2b2a2c;
  font-weight: 700;
}

.modal-work__client-company {
  font-size: 1.4rem;
  color: #6a696b;
  font-style: italic;
}

.modal-work__text {
  margin-bottom: 13rem;
  font-size: 1.2rem;
  color: #6a696b;
  font-weight: 300;
  line-height: 2;
}

.modal-work__footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 2.5rem 1.5rem;
}

.modal-work__btn {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #2b2a2c;
  font-family: inherit;
  background: 0;
  border: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-work__btn img {
  display: block;
}

.modal-resume {
  padding: 7rem 1rem;
}

.modal-resume__title {
  margin-bottom: 5.5rem;
  font-size: 4.5rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem auto;
  width: 100%;
  max-width: 768px;
  position: relative;
}

.timeline:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #6a696b;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

.timeline__col {
  width: 50%;
}

.timeline__col--left {
  padding-right: 5rem;
}

.timeline__col--right {
  padding-left: 5rem;
}

.timeline__title {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2b2a2c;
}

.timeline__item {
  margin-bottom: 4rem;
}

.timeline__item:last-child {
  margin-bottom: 0;
}

.timeline__date {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.4rem;
  text-decoration: underline;
  color: #2b2a2c;
}

.timeline__subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2b2a2c;
}

.timeline__position {
  font-size: 1.4rem;
  color: #2b2a2c;
  font-style: italic;
}

.timeline__text {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #6a696b;
  font-weight: 300;
  line-height: 1.5;
}

.progress-bar {
  margin-bottom: 3rem;
}

.progress-bar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

.progress-bar__title {
  font-size: 1.4rem;
  font-weight: 300;
  color: #2b2a2c;
}

.progress-bar__right {
  padding-left: 2rem;
}

.progress-bar__base {
  width: 140px;
  height: 6px;
  background-color: #efefef;
}

.progress-bar__prozent {
  height: 100%;
  background-color: #6a696b;
  -webkit-transition: width .2s linear;
  -o-transition: width .2s linear;
  transition: width .2s linear;
}

.modal-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-contact__left {
  width: 47%;
  padding: 3rem;
}

.modal-contact__right {
  width: 53%;
  background: #6a696b url(https://placehold.it/480x700) center no-repeat;
}

.text__center {
  text-align: center;
}

.text__right {
  text-align: right;
}

.img__responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.webp .intro__inner{ background: url(../img/intro/symbols.webp) right bottom no-repeat; }

.webp .reviews{ background: #332F30 url(../img/reviews/reviews-bg.webp) center no-repeat; }