.about{
	margin: 12.5rem 0;
	max-width: 1090px;

	@media ($md) {
		margin: 4.5rem 0;
	}
	&__inner{
		display: flex;
		flex-wrap: wrap;
	}
	&__photo{
		width: 50%;

		@media ($md) {
			width: 100%;
			order: 2;
		}
	}
	&__content{
		width: 50%;
		padding-left: 5rem;
		margin-top: 3.5rem;

		@media ($lg) {
			margin-top: 2.5rem;
			padding-left: 2rem;
		}
		@media ($md) {
			width: 100%;
			order: 1;
			margin-bottom: 3rem;
		}
	}
	&__title{
		font-size: 4.5rem;
		font-weight: 700;
		color: $black;
		text-transform: uppercase;

		@media ($xl) {
			font-size: 3.5rem;
		}
		@media ($lg) {
			font-size: 2.5rem;
		}
	}
	&__bigtitle{
		margin-bottom: 2rem;
		position: relative;
		margin-left: -20px;

		font-size: 9.2rem;
		font-weight: 700;
		color: $black;
		text-transform: uppercase;
		opacity: .15;

		line-height: 1.1;

		@media ($xl) {
			font-size: 7.2rem;
		}
		@media ($lg) {
			font-size: 5.5rem;
		}
	}
	&__text{
		margin-bottom: 3rem;

		font-size: 1.2rem;
		font-weight: 300;
		color: $gray;
		
		line-height: 2;
	}
}