.modal-work{
	display: flex;
	flex-wrap: wrap;

	&__previews{
		width: 65%;
		position: relative;

		overflow: hidden;

		@media ($xl) {
			width: 100%
		}
	}
	&__photo{
		width: 100%;

	}
	&__content{
		width: 35%;
		position: relative;

		padding: 5rem 8rem 1.5rem 2.5rem;

		@media ($xl) {
			width: 100%;
			padding: 5rem 2.5rem;
		}
		@media ($md) {
			padding: 1rem 1rem 4rem;
		}
	}
	&__header{
		margin-bottom: 3.3rem;
	}
	&__title{
		margin-bottom: 2px;

		font-size: 3.2rem;
		color: $black;
		font-weight: 700;
		text-transform: uppercase;

		@media ($md) {
			font-size: 2.8rem;
		}
		@media ($iphone5) {
			font-size: 2.2rem;
		}
	}
	&__info{
		font-size: 1.8rem;
		color: $gray;
		text-transform: uppercase;
	}
	&__info-divider{
		margin: 0 1.5rem;
	}
	&__client{
		margin-bottom: 3rem;
	}
	&__client-title{
		font-size: 1.6rem;
		color: $black;
		font-weight: 700;
	}
	&__client-company{
		font-size: 1.4rem;
		color: $gray;
		font-style: italic;
	}
	&__text{
		margin-bottom: 5rem;
		font-size: 1.2rem;
		color: $gray;
		font-weight: 300;
		line-height: 2;

		@media ($md) {
			margin-bottom: 0;
		}
	}
	&__footer{
		position: absolute;
		display: flex;
		justify-content: space-between;

		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;

		padding: 0 2.5rem 1.5rem ;
	}
	&__btn{
		font-size: 1.7rem;
		text-transform: uppercase;
		color: $black;

		font-family: inherit;
		background: 0;
		border: 0;
		padding: 0;

		display: flex;
		align-items: center;
	}
	&__img-left{
		display: block;
		margin-right: 5px;
	}
	&__img-right{
		display: block;
		margin-left: 5px;
	}

}