.modal-resume{
	padding: 7rem 1rem;

	&__title{
		margin-bottom: 5.5rem;

		font-size: 4.5rem;
		color: $black;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__subtitle{
		font-size: 1.6rem;
		color: $black;
		font-weight: 400;
		text-transform: uppercase;
	}
}