.modal{
	display: flex;

	width: 100%;
	height: 100%;
	padding: 1rem;

	overflow: auto;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	background-color: rgba(0,0,0, .8);

	&__dialog{
		position: relative;

		width: 100%;
		max-width: 1200px;
		margin: auto;

		background-color: #fff;

		&--sm{
			max-width: 900px;
		}
		
	}
	&__close{
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 1;

		width: 34px;
		height: 39px;

		padding: 0;
		background: 0;
		border: 0;

		&:hover{
			transform:translateY(-3px);
			transition: transform .2s linear;
		}
	}
}