.nav{
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&-header{
		@media ($md) {
			display: none;
	
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 1000;
			width: 100%;
			padding: 1rem;
	
			background-color: #fff;
			text-align: right;
	
			box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
			&.show{
				display: flex;
				
			}
		}
	}
	
	&__link{
		margin-right: 40px;

		font-size: 1.4rem;
		font-weight: 700;
		color: $black;
		line-height: 1.4;
		text-transform: uppercase;

		&:hover,
		&.active{
			border-bottom: 2px solid $black;
		}
		&--gray{
			color: $gray-light;
		}
		&--media-sm{
			@media ($sm) {
				margin: 0 10px;
			}
		}
		&-header{
			@media ($md) {
			width: 100%;
			margin-right: 0;
			padding: 1rem 2rem;
		}
		}
		
	}
	&--vsmd{
		@media ($md) {
			display: flex;
		}
		@media ($sm) {
			flex-wrap: wrap;
		}
		@media ($usm) {
			justify-content: center;
		}
	}
	
}