.nav{
	display: flex;
	align-items: center;

	@media ($md) {
		display: none;
	}
	&__link{
		margin-right: 40px;

		font-size: 1.4rem;
		font-weight: 700;
		color: $black;
		line-height: 1.4;
		text-transform: uppercase;

		&:hover,
		&.active{
			border-bottom: 2px solid $black;
		}
		&--gray{
			color: $gray-light;
		}
		&--media-sm{
			@media ($sm) {
				margin: 0 10px;
			}
		}
	}
	&--vsmd{
		@media ($md) {
			display: flex;
		}
		@media ($sm) {
			flex-wrap: wrap;
		}
		@media ($usm) {
			justify-content: center;
		}
	}
}