.social{
	display: flex;
	margin-bottom: 45px;

	@media ($md) {
		justify-content: center;
	}
	&__link{
		margin-right: 10px;

		&:hover{
			transform: translateY(-5px);
			transition: transform .2s linear;
		}
	}
}