.timeline{
	display: flex;
	flex-wrap: wrap;
	margin: 6rem auto;
	width: 100%;
	max-width: 768px;

	position: relative;

	@media ($usm) {
		margin: 3rem auto;
	}
	&:before{
		content: "";
		display: block;
		width: 1px;
		height: 100%;

		background-color:$gray;

		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;

		@media ($usm) {
			display: none;
		}
	}

	&__col{
		width: 50%;

		&--left{
			padding-right: 5rem;

			@media ($usm) {
				padding-right: 0;
				text-align: center;
			}
		}
		&--right{
			padding-left: 5rem;

			@media ($usm) {
				padding-left: 0;
				text-align: center;
			}
		}
		@media ($usm) {
			width: 100%;
			margin-bottom: 4rem;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__title{
		margin-bottom: 4rem;

		font-size: 1.8rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $black;

		@media ($usm) {
			margin-bottom: 2rem;
		}
	}
	&__item{
		margin-bottom: 4rem;

		&:last-child{
			margin-bottom: 0;
		}
		@media ($usm) {
			margin-bottom: 2rem;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__date{
		margin-bottom: 1rem;

		display: block;

		font-size: 1.4rem;
		text-decoration: underline;
		color: $black;
	}
	&__subtitle{
		font-size: 1.6rem;
		font-weight: 700;
		color: $black;
	}
	&__position{
		font-size: 1.4rem;
		color: $black;
		font-style: italic;
	}
	&__text{
		margin-top: 1.5rem;

		font-size: 1.2rem;
		color: $gray;
		font-weight: 300;
		line-height: 1.5;
	}
}